body {
    background-color: rgb(250,222,242);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(113,6,128);
    color:rgb(0,0,0);
    padding: 30px 50px;
  }
  
  .Name {
    color: rgb(255,255,255);
    font-size: 20px;
  font-weight: bold;
}

.nav-links {
  color: rgb(37,163,121);
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

.nav-links a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover{
  color: aqua;
  height:20px;
}

section {
  height:10px;
}

#home h1{
  color: rgb(126,30,216);
  margin-bottom:0px;
  text-align: center;
  font-size: 30px;
}

#home h2{
  color: blueviolet;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

.index{
  color: rgb(64,199,181);
}

span{
  font-weight: bolder;
  color: rgb(126,30,216);
}

p{
  font-size:50px;
  color: black;
  text-align: center;
  font-size: larger;
  font-weight: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.image{
  display:flex;
  height: 300px;
  width: 20px;
  margin-left: 40%;


}

#home2{
  text-align: center;
  text-decoration: solid;
  margin-top: 0px;
  font-size: larger;
  color: rgb(197,58,197);
}

h1{
  display: block;
  font-size: 8px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  unicode-bidi: isolate;
}

#about section h1{
    color: rgb(126,30,216);
    font-size: 30px;
}

.container h1{
color: rgb(126,30,216);
    font-size: 30px;
}

#home ,h1{
  margin-top: 0px;
  padding: 10px;
  text-align: center;
  background-color: rgb(250,222,242);
}


.section h1, .section h2 {
  color: #6a1b9a;
  margin-bottom: 15px;
  margin-top: 10px;
}

#about{
  text-align: center;
  color: rgb(126,30,216);
  margin: 500px;
  
}

#about p{
  width: 500px;
  text-align: center;
  margin-bottom: 50px;
}

#skills h2{
  text-align: center;
  color: rgb(126,30,216);
  margin: 500px;
  margin-bottom: 10px;
  margin-top: 100px;
}

#skills ul{
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 10px;
  margin-top:0px;
}